
@{
    ViewBag.Title = "Listado principal de prodcuto";
}

<h2>Listado general</h2>
<p>
    <a href="/Producto/Create">Nuevo Producto</a>
</p>
<hr />
<table>
    <tr>
        <th>
        Codigo
        </th>
    </tr>
    <tr>
        <td>10</td>
    </tr>


</table>
