@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>Página principal</h1>

    <h2>Menú de operaciones</h2>
    <ul>
        <li><a href="/Producto/Index">Gestión de producto</a></li>
    </ul>


</div>

